<div class="container-fluid position-fixed fixed-bottom">
    <script data-cfasync='false' type='text/javascript' src='//p360669.clksite.com/adServe/banners?tid=360669_706643_5&type=footer&size=37'></script>
    <footer>
        <p>&copy; @DateTime.Now.Year - PyperSearch</p>
    </footer>
</div>