<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Pyper Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> &nbsp;&nbsp;&nbsp;
        <div>@Html.Partial("_SearchBar")</div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://netscrap.cloudapp.net/" target="_blank">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


