@{
    ViewBag.Title = "Home";
}
<div id="landing">
    <br /><br /><br /><br /><br /><br />
    <div class="container">
        <div class="jumbotron text-center bg-transparent">
            <span class="h1">Pyper Search</span>
            <div class="lead text-lg-center text-dark h3 m-4">
                <p class="font-weight-normal">Pyper Search is an open source search engine using Azure Cloud Service as a Platform.</p> 
                <p class="font-weight-light">Start your search here...</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">@Html.Partial("_HomeSearchBar")</div>
    </div>
    @Html.Partial("_Footer")
</div>

@section scripts {
    <script>
        $("#home-tab").addClass("active");

        function updateQuerySuggestions(query) {
            if (query.length == 0) {
                return;
            }
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", '@Url.Action("UpdateQuerySuggestions", "Search")' + '?query=' + query);
            xmlhttp.send();
        }

        function showQuerySuggestions(str) {
            if (str.length == 0) {
                $("#query-suggestions").empty();
                return;
            }
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    $("#query-suggestions").show();
                    $("#query-suggestions").html(this.responseText);
                }
            }
            var actionUrl = '@Url.Action("Autocomplete", "Search")' + '?query=' + str;
            xmlhttp.open('GET', actionUrl, true);
            xmlhttp.send();
        }

        function changeSearchBoxValue(str) {
            if (str.length == 0) {
                return;
            }
            $("#search-box").val(str);
            $('#query-suggestions').hide();
            $('#search-box').focus();
        }
    </script>
}